@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --normal: Arial;
}

body{
    font-family: var(--normal);
}

header > h1{
    text-align: center;
    color: black;
}

header > p{
    text-align: center;
    margin-top: 1%;
    color: black;
    margin-bottom: 50px;
}


.android{
    border: 5px solid black;
    border-radius: 10px;
    height: 105px;
    width: 100%;
    max-width: 500px;
    min-width: 180px;
    margin: auto;
}

.android:hover{
    box-shadow: 5px 5px 0px 0px green;
    transition-duration: 0.4s;
}

.android > h2{
    text-align: center;
    margin-top: 1.5%;
}

.android > h2::before{
    content: '🤖 ';
}

.android > p{
    text-align: center;
}

.android > a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    left: 50%;
    transform: translate(-50%);
}

.android > a:hover{
    background-color: lightgreen;
    border-radius: 5px;
    color: black;
    transition-duration: 0.3s;
}


.links-sociais{
    border: 5px solid black;
    border-radius: 10px;
    height: 110px;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    margin: auto;
    margin-top: 10px;
}

.links-sociais:hover{
    box-shadow: 5px 5px 0px 0px rgb(226, 226, 47);
    transition-duration: 0.4s;
}

.links-sociais > h2{
    text-align: center;
    margin-top: 1.5%;
}

.links-sociais > h2::before{
    content: '📱 ';
}

.links-sociais > p{
    text-align: center;
}

.links-sociais > a{
    position: relative;
    display: inline-block;
    margin-top: 1%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    left: 50%;
    transform: translate(-50%);
}

.links-sociais > a:hover{
    background-color: grey;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition-duration: 0.3s;
}

.cordel-moderno{
    border: 5px solid black;
    border-radius: 10px;
    height: 110px;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    margin: auto;
    margin-top: 10px;
}

.cordel-moderno:hover{
    box-shadow: 5px 5px 0px 0px rgb(136, 112, 112);
    transition-duration: 0.4s;
}

.cordel-moderno > h2{
    text-align: center;
    margin-top: 1.5%;
}

.cordel-moderno > p{
    text-align: center;
}

.cordel-moderno > a{
    position: relative;
    display: inline-block;
    margin-top: 1%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    left: 50%;
    transform: translate(-50%);
}

.cordel-moderno > a:hover{
    background-color: rgb(136, 112, 112);
    color: rgb(252, 244, 244);
    border-radius: 5px;
    transition-duration: 0.3s;
}

img{
    display: block;
    margin: auto;
}
